In [36]:
import numpy as np
import pandas as pd
import math
from scipy.sparse import csr_matrix

In [12]:
df = pd.read_csv('listrating.csv',index_col=0)

In [41]:
df.groupby(['Store_ID','Rating']).sum()

                 User_ID
Store_ID Rating
0        1           191
         2           204
         3          1007
         4          4363
         5         15805
...                  ...
31       4        199971
         5        335085
32       3           179
         4         11370
         5         72251

[125 rows x 1 columns]

In [28]:
def starsort(ns):

    
    a = [0,0,0,0,0]
    
    
    N = sum(ns)
    K = len(ns)
    s = list(range(K,0,-1))
    print(s)
    s2 = [sk**2 for sk in s]
    z = 1.65
    def f(s, ns):
        N = sum(ns)
        K = len(ns)
        return sum(sk*(nk+1) for sk, nk in zip(s,ns)) / (N+K)
    fsns = f(s, ns)
    return fsns - z*math.sqrt((f(s2, ns)- fsns**2)/(N+K+1))

In [29]:
x = [2,1,1,1,1]
starsort(x)

[5, 4, 3, 2, 1]

2.4836061796297346

In [42]:
df

      User_ID  Store_ID  Rating
0          33         0       5
1          34         0       3
2          35         0       5
3          36         0       5
4          37         0       5
...       ...       ...     ...
3348     2266        32       5
3349     2267        32       5
3350     2268        32       5
3351     1831        32       5
3352     2269        32       5

[3291 rows x 3 columns]

In [38]:
csr_matrix(df)

<3291x3 sparse matrix of type '<class 'numpy.int64'>'
	with 9695 stored elements in Compressed Sparse Row format>

In [40]:
import pandas as pd
import numpy as np
from numpy.linalg import svd
from random import randint

In [ ]:

mat = d.pivot_table(
    index = user_col, 
    columns = item_col, 
    values = freq_col, 
    fill_value=0, 
    aggfunc = 'mean'
)