In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [69]:
df = pd.read_csv('datatest2.csv',index_col=0)

weighted rating (WR) = (v ÷ (v+m)) × R + (m ÷ (v+m)) × C

In [70]:
df = df.iloc[0:,0:3]
df

                        Store                        User  Rating
0     NAP's Coffee & Roasters                   Nuunet D.     5.0
1     NAP's Coffee & Roasters                   vanai sun     3.0
2     NAP's Coffee & Roasters              Phonanan Seeon     5.0
3     NAP's Coffee & Roasters  Chavakorn Laophetsakunchai     5.0
4     NAP's Coffee & Roasters               community man     5.0
...                       ...                         ...     ...
3348             Yuanjai Cafe          อาจณรงค์ กลมเกลียว     5.0
3349             Yuanjai Cafe                          ??     5.0
3350             Yuanjai Cafe              ประจงจิต จันทป     5.0
3351             Yuanjai Cafe          Chatthawat Warnjai     5.0
3352             Yuanjai Cafe                 TAE.SIRIWAT     5.0

[3327 rows x 3 columns]

In [71]:
av = df.groupby('Store')['Rating'].mean().reset_index(name="mean") ## C

In [72]:
C = df.groupby(["Store"])["User"].count().reset_index(name="count") ## quantile

In [73]:
df2= C.merge(av,on='Store')

In [74]:
df2.head()

                      Store  count      mean
0  11.11 Gallery and Coffee     26  4.653846
1      Abe Specialty Coffee     14  4.785714
2                    Amarna     45  4.733333
3             Anna Roasters    233  4.592275
4                 Attaroast     37  4.837838

In [75]:
C = df2['mean'].mean()
C

4.560949853648421

In [93]:
m = df2['count'].quantile(0.9)
m

224.59999999999997

In [94]:
listA = df2.copy().loc[df2['count'] >= m]
listA.shape

(4, 3)

In [95]:
def weighted_rating(x, m=m, C=C):
    v = x['count']
    R = x['mean']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [96]:
listA['score'] = listA.apply(weighted_rating, axis=1)

In [97]:
listA = listA.sort_values('score', ascending=False)

#Print the top 15 movies
listA[['Store', 'count', 'mean', 'score']].head(10)

                 Store  count      mean     score
3        Anna Roasters    233  4.592275  4.576900
14       LIFE Roasters    255  4.556863  4.558777
16          My Papilio    264  4.382576  4.464571
30  Tree Cafe Rim Moon    402  4.238806  4.354276